USE [QuanLyNapGame_LAOS225001]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoPhanLoaiGoi]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoPhanLoaiGoi]()
RETURNS @BangPhanLoai TABLE (Ten NVARCHAR(50), Gia MONEY, PhanLoai NVARCHAR(20))
AS
BEGIN
    INSERT INTO @BangPhanLoai
    SELECT TenGoi, GiaTien, 
           CASE WHEN GiaTien > 100000 THEN N'Giá Cao' ELSE N'Giá Rẻ' END
    FROM [GoiNap];
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThueVat]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhThueVat](@GiaTien MONEY)
RETURNS MONEY
AS
BEGIN
RETURN @GiaTien * 0.1;
END;

GO
/****** Object:  Table [dbo].[GoiNap]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiNap](
	[MaGoi] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](100) NOT NULL,
	[GiaTien] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LocGoiNapTheoGia]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LocGoiNapTheoGia](@GiaToiThieu MONEY)
RETURNS TABLE
AS
RETURN (
    SELECT * FROM [GoiNap] WHERE GiaTien >= @GiaToiThieu
);
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NULL,
	[MaGoi] [int] NULL,
	[NgayGD] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[SoDu] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GiaoDich] ON 

INSERT [dbo].[GiaoDich] ([MaGD], [MaND], [MaGoi], [NgayGD]) VALUES (1, 1, 1, CAST(N'2026-05-02T23:58:54.097' AS DateTime))
INSERT [dbo].[GiaoDich] ([MaGD], [MaND], [MaGoi], [NgayGD]) VALUES (2, 1, 1, CAST(N'2026-05-02T23:58:54.097' AS DateTime))
INSERT [dbo].[GiaoDich] ([MaGD], [MaND], [MaGoi], [NgayGD]) VALUES (3, 1, 1, CAST(N'2026-05-02T23:58:54.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiNap] ON 

INSERT [dbo].[GoiNap] ([MaGoi], [TenGoi], [GiaTien]) VALUES (1, N'Gói 50 Kim Cương', 20000.0000)
INSERT [dbo].[GoiNap] ([MaGoi], [TenGoi], [GiaTien]) VALUES (2, N'Gói 100 Kim Cương', 40000.0000)
INSERT [dbo].[GoiNap] ([MaGoi], [TenGoi], [GiaTien]) VALUES (3, N'Gói 500 Kim Cương', 180000.0000)
SET IDENTITY_INSERT [dbo].[GoiNap] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [SoDu]) VALUES (1, N'User_Test', 80000.0000)
INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [SoDu]) VALUES (2, N'Panyasack', 500000.0000)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC017D6AFF7]    Script Date: 3/5/2569 0:28:17 ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGD]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaGoi])
REFERENCES [dbo].[GoiNap] ([MaGoi])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[GoiNap]  WITH CHECK ADD CHECK  (([GiaTien]>(0)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([SoDu]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachChiTietGoiNap]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachChiTietGoiNap]
AS
BEGIN
    -- Lưu ý: Bạn cần thay tên bảng phù hợp với DB thực tế của mình
    SELECT g.TenGoi, g.GiaTien, d.TenDanhMuc
    FROM [GoiNap] g
    JOIN [DanhMucGoi] d ON g.MaDM = d.MaDM;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoGoiNap]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemSoGoiNap]
    @TongSoGoi INT OUTPUT
AS
BEGIN
    SELECT @TongSoGoi = COUNT(*) FROM [GoiNap];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LichSuChiTietGoiNap]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LichSuChiTietGoiNap]
AS
BEGIN
    -- Lưu ý: Bạn cần thay tên bảng phù hợp với DB thực tế của mình
    SELECT g.TenGoi, g.GiaTien, d.TenDanhMuc
    FROM [GoiNap] g
    JOIN [DanhMucGoi] d ON g.MaDM = d.MaDM;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LichSuGiaoDichChiTiet]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. ສ້າງ SP ໃໝ່
CREATE PROCEDURE [dbo].[sp_LichSuGiaoDichChiTiet]
AS
BEGIN
    SELECT 
        n.*, 
        gd.*
    FROM [GiaoDich] gd
    INNER JOIN [NguoiDung] n ON gd.MaND = n.MaND;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemGoiNap]    Script Date: 3/5/2569 0:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemGoiNap]
    @TenGoi NVARCHAR(50),
    @Gia MONEY
AS
BEGIN
    IF (@Gia <= 0)
    BEGIN
        PRINT N'Giá tiền phải lớn hơn 0!';
    END
    ELSE
    BEGIN
        INSERT INTO [GoiNap] (TenGoi, GiaTien)
        VALUES (@TenGoi, @Gia);
        PRINT N'Thêm gói nạp thành công.';
    END
END;

GO
